<!DOCTYPE html>
<html lang="es" class="theme-light has-background-white">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FCEN - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bulma-1.0.2.css">
    {% block head %}{% endblock %}
    <script>
        {% block scripts %}{% endblock %}
    </script>
</head>
<body class="is-size-3-desktop has-text-weight-medium has-background-primary-30">

{#  <div class="container is-fluid p-0">#}
<section class="section p-0">

    <nav class="level has-background-primary-30 has-text-primary-00">
            <h2 class="level-item has-text-centered">
                   <span class="m-4">
                            <img
                                    src="https://nexciencia.exactas.uba.ar/reporte-y-vacunacion-covid-19/img/exactas.svg"
                                    alt=""
                                    style="height: 2em"/>

                           <br/>

                           <span class="has-text-weight-bold has-text-centered is-size-2">
                           {% if len(pabellon)==1 %}
                               Pabellón {{ pabellon }}
                           {% else %}
                               Pabellones {{ ', '.join(pabellon[:-1]) + ' y ' + pabellon[-1] }}
                           {% endif %}
                           </span>
                           <span id="hora"></span>
                    </span>
            </h2>

        <!-- Right side -->
        <div class="level-right">

<div id="ww_8ce74ab6e6007" v='1.3' loc='id' a='{"t":"horizontal","lang":"es","sl_lpl":1,"ids":["wl893"],"font":"Arial",
"sl_ics":"one","sl_sot":"celsius","cl_bkg":"rgba(0,158,134,1)","cl_font":"rgba(0,0,0,1)","cl_cloud":"#FFFFFF","cl_persp":"#FFFFFF",
"cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_phw":3,"el_whr":3}'>
    <a href="https://oneweather.org/buenos_aires/30_days/" id="ww_8ce74ab6e6007_u" target="_blank">(...)</a>
</div><script async src="https://app3.weatherwidget.org/js/?id=ww_8ce74ab6e6007"></script>

        </div>
    </nav>


    {% block content %}{% endblock %}
    {#  </div>#}
</section>
</body>
</html>